.hero {
  background: linear-gradient(90deg, #1C3477 0%, #1C3477 0.01%, #1A3578 39.11%, #73184B 75.5%, #B4022A 100%);
}

.hero__wrap {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}

.hero__header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    padding: 31px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0;
  }
}

.hero__phone {
  font-size: 22px;
  line-height: 20px;
  font-style: normal;
  font-weight: 700;
  color: $bg-base-color;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 32px;
  }
}

.hero__body {
  @media (min-width: $tablet-width) {
    display: flex;
    gap: 31px;
  }

  @media (min-width: $desktop-width) {
    gap: 57px;
    margin-top: 24px;
    padding: 0 72px 0 149px;
  }
}

.hero__description {
  display: flex;
  gap: 21px;
  padding: 50px 0 107px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    gap: 26px;
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    margin-top: 62px;
  }
}

.hero__titles {
  position: relative;
  max-width: 156px;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 184px;
  }

  @media (min-width: $desktop-width) {
    max-width: 270px;
  }
}

.hero__main-title {
  font-family: $title-font;
  font-size: 62px;
  line-height: 62px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-align: right;
  color: $bg-base-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 1.8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
    margin-right: 0;

  }
}

.hero__subtitle {
  color: $bg-base-color;
  text-align: right;
  margin-bottom: 12px;
  line-height: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.hero__activities {
  @include list-reset;
  font-weight: 400;
  color: $bg-base-color;
  text-align: right;
  font-size: 14px;
  line-height: 20px;
  margin-top: 112px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    margin-top: 128px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 168px;
  }

}

.hero__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.hero__button {
  position: absolute;
  right: 0;
  bottom: -108px;
  width: 280px;
  color: $bg-base-color;
  border-color: $bg-base-color;
  padding: 18px 20px;

  @media (min-width: $tablet-width) {
    position: initial;
    width: auto;
    margin-top: 50px;
    padding: 16px 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
    padding: 22px 20px;
  }
}
