.video {
width: 320px;
height: 170px;

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 170px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
  }
}

.video__wrap {
  position: relative;
}

.video__media {
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 72px;
  height: 72px;
  padding: 8px;
  background: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
  border: 2px solid rgba(237, 2, 51, 0.2);
  border-radius: 50%;
  background-clip: content-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    padding: 12px;
  }
}

.video__button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(calc(-50% + 2px), -50%);
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 9px solid $bg-base-color;

  @media (min-width: $desktop-width) {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 13px solid $bg-base-color;
  }
}

.video__button:hover {
  background: $bg-base-color;
  background-clip: content-box;
  border: 2px solid rgba(16, 38, 84, 0.3);

  &::before {
    border-left-color: rgba(16, 38, 84, 0.6);
  }
}

.video__button:active {
  border: 2px solid $base-text-color;

  &::before {
    border-left-color: $base-text-color;
  }
}

.video__button:focus-visible {
  background: #c8c9cc;
  background-clip: content-box;
  border: 2px solid $base-text-color;

  &::before {
    border-left-color: $base-text-color;
  }
}
