.button {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 22px;
}


.button:hover {
  background-color: $bg-base-color;
  color: $primary-text-color;
}

.button:active {
  color: $default-text-color;
}

.button:focus-visible {
  background-color: rgba($color: $bg-base-color, $alpha: 0.8);
  border: 2px solid $default-text-color;
  color: $primary-text-color;
}

.button:disabled {
  opacity: 50%;
}
