.subtitle {
  font-family: $base-font;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 22px;
  }
}
