// Цвета
$base-text-color: #102654;
$primary-text-color: #103AAE;
$primary-text-gradient: linear-gradient(128deg, #d10a42 0%, #0041cf 45.58%);

$bg-base-color: #ffffff;
$bg-primary-color: #f8f9fc;
$bg-primary-gradient: linear-gradient(90deg, #1C3477 0%, #1C3477 0.01%, #1A3578 39.11%, #73184B 75.5%, #B4022A 100%);

// Экран
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Шрифт
$base-font: "Roboto Condensed", "Arial", sans-serif;
