// Цвета
$base-text-color: #102654;
$primary-text-color: #103aae;

$bg-base-color: #ffffff;
$bg-primary-color: #f8f9fc;

// Экран
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Шрифт
$base-font: "Roboto Condensed", "Arial", sans-serif;
